SPRING_DATASOURCE_URL=jdbc:h2:file:/var/lib/contact-api-demo/contacts;MODE=MySQL;AUTO_SERVER=FALSE;DATABASE_TO_LOWER=TRUE
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.h2.Driver
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=18081
SERVER_SERVLET_CONTEXT_PATH=/contact-demo
APP_CORS_ALLOWED_ORIGINS=https://124.222.121.103
APP_MAIL_ENABLED=false
CONTACT_MAIL_FROM=
CONTACT_MAIL_TO=
